@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



:root,
html,
body,
#root {
  @apply w-full h-full;
  font-family: "Spectral", serif;
}

body {
  @apply bg-primary text-white;
}



.input_focus:focus {
  box-shadow: 0 0 10px 1400px rgba(0, 0, 0, .5);
  outline: none;
}